In [1]:
import yfinance as yf
import pandas as pd
from datetime import datetime, timedelta
from google.cloud import bigquery

In [2]:
def get_sp500_tickers():
    return pd.read_csv("tickers.csv", header=None)[0].tolist()


# Download previous day's data
def download_previous_day_data(tickers):
    """
    Downloads daily data for the tickers from the previous day.
    """
    # start_date = (datetime.now() - timedelta(days=1)).strftime("%Y-%m-%d")
    # end_date = (datetime.now() - timedelta(days=0)).strftime("%Y-%m-%d")

    current_date = datetime.now() - timedelta(days=1)
    while not pd.Timestamp(current_date).isoweekday() in range(
        1, 6
    ):  # Monday (1) to Friday (5)
        current_date -= timedelta(days=1)

    start_date = current_date.strftime("%Y-%m-%d")
    end_date = (current_date + timedelta(days=1)).strftime("%Y-%m-%d")

    data = yf.download(
        tickers=" ".join(tickers),
        start=start_date,
        end=end_date,
        interval="1d",
        group_by="ticker",
        threads=True,
    )
    if data.empty:
        print(f"No data available for {start_date}.")
        return pd.DataFrame()  # Returns an empty DataFrame if no data is available
    # Restructure the data
    data = data.stack(level=0, future_stack=True).reset_index()
    data.columns = [
        "Date",
        "Ticker",
        "Open",
        "High",
        "Low",
        "Close",
        "Adj Close",
        "Volume",
    ]
    return data


# Download data for all tickers
def download_sp500_data(tickers, start_date="2000-01-01", end_date=None):
    """
    Downloads daily data for all S&P 500 tickers.
    """
    # Fetch the data via yfinance
    data = yf.download(
        tickers=" ".join(tickers),
        start=start_date,
        end=end_date,
        interval="1d",
        group_by="ticker",  # Organizes the data by ticker
        threads=True,  # Parallel download
    )

    data = data.stack(level=0, future_stack=True).reset_index()  # Make tickers a column
    data.columns = [
        "Date",
        "Ticker",
        "Open",
        "High",
        "Low",
        "Close",
        "Adj Close",
        "Volume",
    ]

    return data


# Load data into BigQuery
def load_data_to_bigquery(df, table_id, project_id):
    """
    Loads a DataFrame into a BigQuery table.

    Arguments:
        df : pandas.DataFrame containing the data to load.
        table_id : Full ID of the BigQuery table (e.g., dataset.table_name).
        project_id : Google Cloud project ID.
    """
    client = bigquery.Client(project=project_id)

    # Convert the data to BigQuery format
    job = client.load_table_from_dataframe(df, table_id)

    # Wait for the job to complete
    job.result()
    print(f"Data has been loaded into {table_id}")


# Load data into a temporary table
def load_to_temp_table(client, df, temp_table_id):
    """
    Loads data into a temporary BigQuery table.
    """
    job_config = bigquery.LoadJobConfig(
        write_disposition="WRITE_TRUNCATE"  # Overwrites existing data
    )
    job = client.load_table_from_dataframe(df, temp_table_id, job_config=job_config)
    job.result()
    print(f"Data loaded into temporary table {temp_table_id}")


# Merge data with the main table
def merge_into_main_table(client, temp_table_id, main_table_id):
    """
    Merges data from the temporary table into the main table.
    """
    query = f"""
    MERGE `{main_table_id}` AS main
    USING `{temp_table_id}` AS temp
    ON main.Date = temp.Date AND main.Ticker = temp.Ticker
    WHEN NOT MATCHED THEN
      INSERT (Date, Ticker, Open, High, Low, Close, `Adj Close`, Volume)  -- `Adj Close` with a space
      VALUES (temp.Date, temp.Ticker, temp.Open, temp.High, temp.Low, temp.Close, temp.`Adj Close`, temp.Volume)
    """
    job = client.query(query)
    job.result()
    print(f"Data merged into main table {main_table_id}")


def fill_table():
    # Step 1: Fetch tickers
    print("Downloading S&P 500 tickers...")
    sp500_tickers = get_sp500_tickers()
    print(f"Number of tickers fetched: {len(sp500_tickers)}")

    # Step 2: Download data
    print("Downloading daily data...")
    sp500_data = download_sp500_data(sp500_tickers, start_date="2000-01-01")

    # # Step 3: Load into BigQuery
    # print("Loading data into BigQuery...")
    # PROJECT_ID = "quant-dev-442615"  # Replace with your project ID
    # DATASET_ID = "financial_data"  # Replace with your dataset name
    # TABLE_ID = "sp500_data"  # Table name

    # # Load data
    # load_data_to_bigquery(
    #     sp500_data,
    #     table_id=f"{PROJECT_ID}.{DATASET_ID}.{TABLE_ID}",
    #     project_id=PROJECT_ID,
    # )
    return sp500_data


def add_daily():
    # Step 1: Configuration
    PROJECT_ID = "quant-dev-442615"
    DATASET_ID = "financial_data"
    MAIN_TABLE_ID = f"{PROJECT_ID}.{DATASET_ID}.sp500_data"
    TEMP_TABLE_ID = f"{PROJECT_ID}.{DATASET_ID}.temp_sp500_data"

    # Fetch tickers
    print("Downloading S&P 500 tickers...")
    tickers = get_sp500_tickers()

    # Step 2: Download data
    print("Downloading data for the previous day...")
    sp500_data = download_previous_day_data(tickers)
    if sp500_data.empty:
        print("No data available. Execution stopped.")
        return  # Stop execution if no data is available
    sp500_data["Date"] = pd.to_datetime(sp500_data["Date"]).dt.date
    # Convert the Volume column to integer
    sp500_data["Volume"] = sp500_data["Volume"].fillna(0).astype(int)

    # Step 3: Load into BigQuery
    client = bigquery.Client(project=PROJECT_ID)
    print("Loading data into a temporary table...")
    load_to_temp_table(client, sp500_data, TEMP_TABLE_ID)

    # Step 4: Merge with the main table
    print("Merging data with the main table...")
    merge_into_main_table(client, TEMP_TABLE_ID, MAIN_TABLE_ID)

In [3]:
df = fill_table()

Downloading S&P 500 tickers...
Number of tickers fetched: 519
Downloading daily data...

[*********************100%***********************]  519 of 519 completed

ValueError: Length mismatch: Expected axis has 7 elements, new values have 8 elements

In [3]:
# Fetch the data via yfinance
start_date = "2000-01-01"
end_date = None
tickers = get_sp500_tickers()
data = yf.download(
    tickers=" ".join(tickers),
    start=start_date,
    end=end_date,
    interval="1d",
    group_by="ticker",  # Organizes the data by ticker
    threads=True,  # Parallel download
)

[*********************100%***********************]  519 of 519 completed

1 Failed download:
['TSCO']: ConnectionError(ProtocolError('Connection aborted.', RemoteDisconnected('Remote end closed connection without response')))

In [ ]:
df_work = data.stack(level=0, future_stack=True).reset_index()

In [ ]:
data[["Ticker", "Date", "Open", "High", "Low", "Close", "Volume"]]

Price,Ticker,Date,Open,High,Low,Close,Volume
0,BTC-USD,2000-01-03,NaN,NaN,NaN,NaN,NaN
1,LYV,2000-01-03,NaN,NaN,NaN,NaN,NaN
2,HLT,2000-01-03,NaN,NaN,NaN,NaN,NaN
3,AVGO,2000-01-03,NaN,NaN,NaN,NaN,NaN
4,INCY,2000-01-03,32.656250,44.875000,32.625000,44.828125,3834800.0
...,...,...,...,...,...,...,...
3944914,APA,2025-01-14,24.219999,24.604000,24.139999,24.461901,828115.0
3944915,SCHW,2025-01-14,NaN,NaN,NaN,NaN,NaN
3944916,SBUX,2025-01-14,94.000000,94.889999,93.730003,94.070000,1180889.0
3944917,CDNS,2025-01-14,293.755005,295.329987,291.910004,292.500000,148510.0
3944918,DLTR,2025-01-14,71.000000,71.830002,69.820000,69.879997,320686.0

In [28]:
from datetime import datetime, timedelta

In [29]:
(datetime.today() - timedelta(1)).strftime("%Y-%m-%d")

'2025-01-13'

In [10]:
data.xs("AAPL", axis=1, level="Ticker").reset_index()

Price       Date        Open        High         Low       Close       Volume
0     2000-01-03    0.789884    0.847313    0.765877    0.843077  535796800.0
1     2000-01-04    0.815304    0.833191    0.762111    0.771997  512377600.0
2     2000-01-05    0.781411    0.832720    0.775762    0.783293  778321600.0
3     2000-01-06    0.799299    0.805889    0.715508    0.715508  767972800.0
4     2000-01-07    0.726806    0.760699    0.719275    0.749401  460734400.0
...          ...         ...         ...         ...         ...          ...
7596  2025-01-10  240.009995  240.160004  233.000000  236.850006   61710900.0
7597  2025-01-11         NaN         NaN         NaN         NaN          NaN
7598  2025-01-12         NaN         NaN         NaN         NaN          NaN
7599  2025-01-13  233.529999  234.669998  229.720001  234.399994   49555000.0
7600  2025-01-14         NaN         NaN         NaN         NaN          NaN

[7601 rows x 6 columns]

In [33]:
test = pd.read_csv("sp500_data_test.csv")

In [34]:
test.tail(50)

,Date,Ticker,Open,High,Low,Close,Volume
3944350,2025-01-13,JNPR,38.290001,38.560001,38.250000,38.490002,1700600.0
3944351,2025-01-13,COF,175.479996,180.509995,174.750000,180.330002,4205300.0
3944352,2025-01-13,AMD,115.279999,117.480003,114.410004,117.320000,38975200.0
3944353,2025-01-13,TSN,54.840000,55.980000,54.480000,55.630001,2507800.0
3944354,2025-01-13,USB,47.540001,48.410000,47.410000,48.389999,9164200.0
3944355,2025-01-13,^GDAXI,20157.240234,20176.109375,20025.279297,20132.849609,56263600.0
3944356,2025-01-13,MNST,49.990002,50.189999,49.389999,49.990002,5633300.0
3944357,2025-01-13,TPL,1300.000000,1339.089966,1287.050049,1300.569946,155300.0
3944358,2025-01-13,CTVA,57.200001,60.029999,57.200001,59.930000,3845400.0
3944359,2025-01-13,WMT,92.120003,92.430000,91.099998,91.529999,18607900.0
3944360,2025-01-13,BDX,234.270004,238.110001,231.360001,236.190002,2267800.0
3944361,2025-01-13,SPY,575.770020,581.750000,575.349976,581.390015,47647700.0
3944362,2025-01-13,CAH,121.080002,121.269997,119.250000,120.860001,1644300.0
3944363,2025-01-13,DHR,235.050003,240.970001,234.009995,239.880005,3301400.0
3944364,2025-01-13,LDOS,148.800003,153.360001,148.000000,152.639999,1437000.0
3944365,2025-01-13,CSGP,69.809998,70.099998,68.769997,69.290001,2735700.0
3944366,2025-01-13,NRG,98.550003,98.959999,95.309998,97.199997,2513600.0
3944367,2025-01-13,INVH,30.330000,30.959999,30.180000,30.940001,3319800.0
3944368,2025-01-13,PSX,114.000000,117.300003,113.720001,115.980003,4153700.0
3944369,2025-01-13,LIN,415.790009,422.679993,413.700012,421.429993,2824500.0
3944370,2025-01-13,XOM,107.129997,109.629997,107.129997,109.290001,17072100.0
3944371,2025-01-13,AMAT,169.100006,171.610001,167.729996,170.860001,5462300.0
3944372,2025-01-13,MU,95.839996,96.000000,92.879997,95.059998,22647000.0
3944373,2025-01-13,GEN,26.770000,26.910000,26.549999,26.850000,2313200.0
3944374,2025-01-13,VRSN,206.500000,209.660004,205.720001,209.559998,758100.0
3944375,2025-01-13,ROP,499.470001,509.859985,499.470001,508.000000,572700.0
3944376,2025-01-13,TT,369.130005,377.549988,366.459991,376.980011,960900.0
3944377,2025-01-13,REGN,669.239990,717.369995,666.250000,716.900024,1406000.0
3944378,2025-01-13,STX,87.550003,89.699997,86.970001,88.930000,2715800.0
3944379,2025-01-13,INTU,620.380005,622.000000,612.299988,613.219971,1684000.0
3944380,2025-01-13,EQR,67.199997,69.389999,67.000000,69.209999,2270300.0
3944381,2025-01-13,OKE,101.900002,104.389999,101.250000,103.980003,3495600.0
3944382,2025-01-13,DOC,19.680000,20.030001,19.629999,20.000000,2907800.0
3944383,2025-01-13,EBAY,64.500000,66.360001,64.269997,65.720001,4121600.0
3944384,2025-01-13,KMX,77.639999,78.570000,77.000000,78.500000,1705700.0
3944385,2025-01-13,KIM,21.660000,22.100000,21.570000,22.070000,4974100.0
3944386,2025-01-13,LH,232.529999,236.360001,231.270004,234.100006,516100.0
3944387,2025-01-13,DTE,119.080002,119.080002,116.760002,118.220001,710500.0
3944388,2025-01-13,DD,72.779999,74.449997,72.400002,74.430000,2302300.0
3944389,2025-01-13,BKNG,4710.290039,4780.580078,4660.319824,4763.899902,209900.0
3944390,2025-01-13,URTH,152.800003,154.270004,152.759995,154.229996,515800.0
3944391,2025-01-13,CF,90.669998,95.720001,90.379997,95.500000,3068000.0
3944392,2025-01-13,ADM,51.459999,52.540001,51.099998,52.119999,4101700.0
3944393,2025-01-13,PARA,10.450000,10.760000,10.410000,10.720000,8252600.0
3944394,2025-01-13,CLX,158.130005,158.369995,156.279999,157.470001,1051100.0
3944395,2025-01-13,HSY,159.169998,159.509995,156.899994,157.279999,2731200.0
3944396,2025-01-13,PRU,114.230003,116.480003,113.620003,116.290001,1240100.0
3944397,2025-01-13,A,137.220001,142.820007,137.000000,141.949997,1562000.0
3944398,2025-01-13,MET,80.040001,82.050003,79.739998,81.910004,3616500.0
3944399,2025-01-13,KR,59.099998,59.709999,58.779999,59.490002,5382100.0